<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-3">
        <nb-card>
            <nb-card-header>Customer</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <label for="nif">NIF</label>
                    <input type="email" class="form-control" id="nif" placeholder="N.I.F">
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-9">
    <nb-card>
        <nb-card-header>
            Products & Services
        </nb-card-header>

        <nb-card-body>
            <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table> -->
        </nb-card-body>
    </nb-card>
    </div>
</div>